@model LocationModel


<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
 
</head>

<body>
    <div class="content d-flex flex-column">
        <div class="col-md-6 m-auto">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Add Address</h5>
                </div>
                <div class="card-body">
                    <form class="w-500" asp-action="AddressPage" asp-controller="home" method="post">

                        <input type="hidden" name="PersonalId" value="@ViewData["personId"]" />
                        <div class="mb-3">
                            <label for="AddressType" class="form-label">AddressType</label>
                            <input type="text" id="AddressType" name="AddressType" class="form-control">

                        </div>

                        <div class="mb-3">
                            <label for="Name" class="form-label">Name</label>
                            <input type="text" id="Name" name="Name" class="form-control">

                        </div>

                        <div class="mb-3">
                            @Html.Label("Cities")
                            @Html.DropDownList("CitiesDrop", Model.Cities, "Select City", new { @class = "form-control" })
                        </div>

                        <div class="mb-3">
                            @Html.Label("Districts")
                            @Html.DropDownList("DistrictsDrop", Model.Districts, "Select District", new { @class = "form-control" })
                        </div>

                        <div class="mb-3">
                            <label for="Address" class="form-label">Address</label>
                            <input type="text" class="form-control" name="Address" id="Addressid">
                        </div>

                        <button type="submit" (click)="add()" class="btn btn-primary w-100">Save</button>

                    </form>
                </div>
            </div>

        </div>
        <div class="p-5">
            <table id="customertable" class="table p-5">
                <thead>
                    <tr>
                        <th>Address Type</th>
                        <th>Name</th>
                        <th>City</th>
                        <th>District</th>
                        <th>Address</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model.Person.PersonAddresses)
            {
                    <tr>
                        <td>@item.AddressType</td>
                        <td>@item.Name</td>
                        <td>@item.City.CityName</td>
                        <td>@item.District.DistrictName</td>
                        <td>@item.Address</td>
                        <td> @Html.ActionLink("Update", "UpdatePerson", new { }, new { @class = "btn btn-primary" })</td>
                        <td> @Html.ActionLink("Delete", "DeletePerson", new { }, new { @class = "btn btn-danger" })</td>

                    </tr>
            }

                </tbody>

            </table>
        </div>

    </div>
    <script>
        $("#DateOfBirth").datepicker({
            format: "yyyy-mm-dd"
        });
    
        $(function ()
        {
            $('#CitiesDrop').change(function ()
            {
                
                var id = $('#CitiesDrop').val();
                $.ajax({
                    url: '/Home/GetDistrictsByCity',
                    data: { cityId: id },
                    type: "POST",
                    dataType: "Json",
                    success: function (data)
                    {
                        console.log(data);
                        $('#DistrictsDrop').empty();
                        for (var i = 0; i < data.length; i++)
                        {
                            $('#DistrictsDrop').append("<option value='" + data[i].id + "'>" + data[i].districtName + "</Option>");
                         }
                    }
                });
            });
        });
    </script>

</body>

</html>