@model List<InfocusCase.Entity.Concrete.Task>

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
</head>

<body>
    <div class="content d-flex flex-column">
        <div class="col-md-6 m-auto">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Add Task</h5>
                </div>
                <div class="card-body">
                    <form class="w-500" asp-action="TaskPage" asp-controller="home" method="post">

                        <input type="hidden" name="Id"  />
                        <div class="mb-3">
                            <label for="FirstName" class="form-label">Name</label>
                            <input type="text" id="NameId" name="Name" class="form-control"/>

                        </div>

                        <div class="mb-3">
                            <label for="LastName" class="form-label">Description</label>
                            <input type="text" id="DescriptionId" name="Description" class="form-control" />

                        </div>

                        <div class="mb-3">
                            <label for="DateOfBirth" class="form-label">Deadline</label>
                            <input type="text" class="form-control" name="Deadline" id="DeadlineId" />
                        </div>

                        <button type="submit" (click)="add()" class="btn btn-primary w-100">Save</button>

                    </form>
                </div>
            </div>

        </div>
        <div class="p-5">
            <table id="customertable" class="table p-5">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Deadline</th>
                        <th>Assign And Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td> @item.Deadline.ToString("dd/M/yyyy")</td>
                        <td> @Html.ActionLink("Assign And Update", "AssignTask", new { id = item.Id }, new { @class = "btn btn-light" })</td>
                        <td> @Html.ActionLink("Delete", "DeleteTask", new { }, new { @class = "btn btn-danger" })</td>

                    </tr>
                    }

                </tbody>

            </table>
        </div>

    </div>

</body>

</html>
<script>
    $("#DeadlineId").datepicker({
        format: "yyyy-mm-dd"
    });
</script>